body {
    background-color: rgb(62, 146, 62);
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

div {
    width: 650px;
    height: auto;
    margin: 20px;
    padding: 15px;
    color: white;
}

.blanco {
    align-items: center;
    color: black;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    margin: 0 auto;
}

.naranja {
    background-color: rgb(202, 56, 56);
    border: 15px solid #e60a0a;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.amarillo {
    background-color: rgb(207, 181, 32);
    border: 5px solid #866111;
    margin-left: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.azul {
    background-color: blue;
    margin: 0 auto;
    border: 5px dashed rgb(18, 141, 223);
}